/* fonts
font-family: "orbital", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "citizen", sans-serif;
font-weight: 700;
font-style: normal;
*/

@import url("https://use.typekit.net/zby4exq.css");

/* CSS Document */

body, nav, header, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, table, audio, video, p {
	margin: 0;
	padding: 0;
	border: 0;
}

/* nav */

nav {
	text-align: center;
	font-size: 100%;
	margin-bottom: 10px;
	margin-top: 7px;
	font-family: "citizen", sans-serif;
	font-weight: 900;
	font-style: normal;
}


nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
	padding: 10px;
}

nav a {
    text-decoration: none;
    display: block;
	color: black;
}

nav h {
	color: black;
}

/* body */

body {
	background-color: #9BA6BC;
}

p {
	font-family: "orbital", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #28284C;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
	padding: 10px;
	font-family: "orbital", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #28284C;
}

h1 {
	font-family: "citizen", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #262641;
	text-align: center;
}

h2 {
	font-size: 160%;
	color: #262641;
	text-align: center;
	font-family: "citizen", sans-serif;
	font-weight: 700;
	font-style: normal;
}

h3 {
	font-family: "citizen", sans-serif;
	font-weight: 700;
	font-style: normal;
}

h3 a{
	text-decoration: none;
    display: block;
	color: antiquewhite;
	
}

#container {
	margin: 0 auto;
	padding: 3em;
	width: 75%;
	border-radius: 2em;
	word-wrap: break-word;
	background-color: #CFD8EA;
}

/* imgs */

#current {
	padding: 10px;
	max-width: 20em;
	border-radius: 2em;
	float: right;
}

#index {
	padding: 10px;
	max-width: 20em;
	border-radius: 2em;
	float: left;
}

#history {
	padding: 10px;
	max-width: 20em;
	border-radius: 2em;
	float: left;
}

#future {
	padding: 10px;
	max-width: 20em;
	border-radius: 2em;
	float: right;
}

/* form */

label {
	font-family: "citizen", sans-serif;
	font-weight: 700;
	font-style: normal;
}

input {
  font-family: "orbital", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #445E8E;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6F85CD;
}

.container {
  border-radius: 5px;
  background-color: #D1D8E5;
  padding: 20px;
}


/* footer */

footer {
	margin-top: 15em;
	text-align: center;
	color: black;
	font-size: 100%;
	font-family: "citizen", sans-serif;
	font-weight: 900;
	font-style: normal;
}

footer ul {
    list-style-type: none;
}

footer li {
    display: inline-block;
	padding: 10px;
}

footer a {
    text-decoration: none;
    display: block;
	color: #11111D;
}

footer h {
	color: #11111D;;
}
